In [38]:
import pandas as pd
df_sources = pd.read_csv("/Users/vladimirkroz/workspace/esci-data/shopping_queries_dataset/shopping_queries_dataset_sources.csv")
df_sources.head(5)

   query_id      source
0         0       other
1         1   negations
2         2   negations
3         3   negations
4         4  behavioral

In [39]:
df_queries = pd.read_parquet('/Users/vladimirkroz/workspace/esci-data/shopping_queries_dataset/shopping_queries_dataset_examples.parquet')
df_queries.head(10)

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split
0,0,revent 80 cfm,0,B000MOO21W,us,I,0,1,train
1,1,revent 80 cfm,0,B07X3Y6B1V,us,E,0,1,train
2,2,revent 80 cfm,0,B07WDM7MQQ,us,E,0,1,train
3,3,revent 80 cfm,0,B07RH6Z8KW,us,E,0,1,train
4,4,revent 80 cfm,0,B07QJ7WYFQ,us,E,0,1,train
5,5,revent 80 cfm,0,B076Q7V5WX,us,E,0,1,train
6,6,revent 80 cfm,0,B075ZBF9HG,us,E,0,1,train
7,7,revent 80 cfm,0,B06W2LB17J,us,E,0,1,train
8,8,revent 80 cfm,0,B07JY1PQNT,us,E,0,1,train
9,9,revent 80 cfm,0,B01MZIK0PI,us,E,0,1,train

In [22]:
df_products = pd.read_parquet('/Users/vladimirkroz/workspace/esci-data/shopping_queries_dataset/shopping_queries_dataset_products.parquet')
df_products.head()

,product_id,product_title,product_description,product_bullet_point,product_brand,product_color,product_locale
0,B079VKKJN7,"11 Degrees de los Hombres Playera con Logo, Ne...",Esta playera con el logo de la marca Carrier d...,11 Degrees Negro Playera con logo\nA estrenar ...,11 Degrees,Negro,es
1,B079Y9VRKS,Camiseta Eleven Degrees Core TS White (M),None,None,11 Degrees,Blanco,es
2,B07DP4LM9H,11 Degrees de los Hombres Core Pull Over Hoodi...,La sudadera con capucha Core Pull Over de 11 G...,11 Degrees Azul Core Pull Over Hoodie\nA estre...,11 Degrees,Azul,es
3,B07G37B9HP,11 Degrees Poli Panel Track Pant XL Black,None,None,11 Degrees,None,es
4,B07LCTGDHY,11 Degrees Gorra Trucker Negro OSFA (Talla úni...,None,None,11 Degrees,Negro (,es

In [35]:
print(f'---- products -----')
df_products.info()

---- products -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1814924 entries, 0 to 1814923
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   product_id            object
 1   product_title         object
 2   product_description   object
 3   product_bullet_point  object
 4   product_brand         object
 5   product_color         object
 6   product_locale        object
dtypes: object(7)
memory usage: 96.9+ MB

In [37]:
print(f'---- queries -----')
df_queries.info()


print(f'\n---- query types -----')
df_sources.info()

---- queries -----
<class 'pandas.core.frame.DataFrame'>
Index: 2621288 entries, 0 to 2621287
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   example_id      int64
 1   query           object
 2   query_id        int64
 3   product_id      object
 4   product_locale  object
 5   esci_label      object
 6   small_version   int64
 7   large_version   int64
 8   split           object
dtypes: int64(4), object(5)
memory usage: 200.0+ MB

---- query types -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130652 entries, 0 to 130651
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   query_id  130652 non-null  int64
 1   source    130652 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.0+ MB