# How to use Pandas

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../datasets/womens_clothing_ecommerce_reviews_transformed.csv')
df.head()

,sentiment,review_body,product_category
0,1,If this product was in petite i would get the...,Blouses
1,1,Love this dress! it's sooo pretty. i happene...,Dresses
2,0,I had such high hopes for this dress and reall...,Dresses
3,1,I love love love this jumpsuit. it's fun fl...,Pants
4,1,This shirt is very flattering to all due to th...,Blouses

Create dataframe from numbers

In [5]:
s = pd.Series([1,1,2,1,3,4,5])
s

0    1
1    1
2    2
3    1
4    3
5    4
6    5
dtype: int64

In [6]:
import numpy as np
np.random.rand(10, 12)

array([[0.3122795 , 0.36450451, 0.24163652, 0.3986654 , 0.25036013,
        0.60649349, 0.19581373, 0.98656119, 0.86669486, 0.2280633 ,
        0.27265452, 0.84703638],
       [0.53527567, 0.66168302, 0.83958617, 0.57075078, 0.38865939,
        0.89918186, 0.08404039, 0.0110932 , 0.43019956, 0.76080558,
        0.06879571, 0.69192622],
       [0.41514855, 0.99556355, 0.91295237, 0.29244324, 0.0149583 ,
        0.5484643 , 0.46365929, 0.36302124, 0.70064303, 0.20687638,
        0.98046254, 0.19615166],
       [0.25205745, 0.7645166 , 0.67057845, 0.57962203, 0.4020977 ,
        0.84854822, 0.11399086, 0.50131619, 0.3233318 , 0.3846716 ,
        0.85107008, 0.82027975],
       [0.95079284, 0.45162673, 0.7179762 , 0.92698487, 0.09277442,
        0.48932083, 0.25141769, 0.27550946, 0.14344948, 0.13486497,
        0.17916115, 0.32258144],
       [0.87690338, 0.86846646, 0.64800546, 0.67873997, 0.13423511,
        0.5796039 , 0.15311165, 0.9655056 , 0.63750422, 0.78208404,
        0.51789386, 0.81988698],
       [0.5570999 , 0.21861998, 0.998195  , 0.56711364, 0.24133257,
        0.82979374, 0.95276732, 0.98678139, 0.75681004, 0.87089743,
        0.31111931, 0.21401127],
       [0.13467409, 0.04010343, 0.29992162, 0.15703984, 0.56130666,
        0.29036131, 0.34642952, 0.70275876, 0.56138428, 0.11391286,
        0.9890036 , 0.22702851],
       [0.0527217 , 0.28129677, 0.08177315, 0.15347649, 0.20670251,
        0.18303552, 0.58112444, 0.02500886, 0.15377548, 0.89971305,
        0.76796499, 0.32686529],
       [0.00568191, 0.38402287, 0.6224488 , 0.04705213, 0.7005837 ,
        0.47586627, 0.32187104, 0.16504514, 0.07436554, 0.22696729,
        0.25082787, 0.56920419]])

In [7]:
basem = 174000/12
rsu0115 = 41*3466.3
rsu0715 = 54*3500.3
rsu0715 = 54*3566.3
comp1 = pd.Series([basem, rsu0115, basem, basem ])
comp2 = pd.Series([basem, rsu0115, basem, basem, basem, basem, basem, basem, rsu0715])

comp2, sum(comp2)

(0     14500.0
 1    142118.3
 2     14500.0
 3     14500.0
 4     14500.0
 5     14500.0
 6     14500.0
 7     14500.0
 8    192580.2
 dtype: float64,
 436198.5)

In [8]:
# If I work full year
print(f"Comp 2022: {170+142+187}")
print(f"Comp 2023: {170+187+187}")

Comp 2022: 499
Comp 2023: 544

In [9]:
# If I work till march
170/12*3+142+750/12*9

747.0

In [10]:
# If I leave in July
170/12*7+142+187+750/12*5

740.6666666666666